html{
    font-size: 15px;
}

body{
    font-family: Raleway;
}

.conteiner{
    width: 80%;
    margin: 0 auto;
}

.conteiner__title{
    font-size: 2rem;
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1rem;
    
}
.conteiner__order-header{
    background: #F0F2F5;
    height: 41px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3;
    padding-left: 1.3rem ;
}
.conteiner__order header ~ div{
    width: 50%;
    float: left;
}
.conteiner__order header ~ div>p{
    font-weight: bold;
    font-size: 1rem;
    color: #354657;
    padding-left: 1.3rem;
}
.conteiner__order header ~ div>p>span{
    font-weight: normal;
    color: #354657;
}